<h2>Products</h2>
<a href="/products/new">New Product</a>
<br />
<% products.forEach(product => { %>
<img width="100" height="150" src="<%= product.imagePath %>" />
<h2><%= product.name %></h2>
<p>RM <%= product.price %></p>
<p>Stock: <%= product.stock %> pcs</p>
<p>Description: <%= product.description %></p>
<a href="/products/<%= product.id %>">Show</a>
<a href="/products/<%= product.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/products/${product.id}`}) %>
<a href="/products/<%= product.id %>/add">Add to Cart</a>
<%})%>
