<p>Show Product</h2>
<img src="<%= product.imagePath %>" >
<h2><%= product.name %></h2>
<p><%= product.price %></p>
<p><%= product.stock %></p>
<p><%= product.description %></p>
<a href="/products">Back</a>